<div class="m-5">
    <h1 class="pageTitle"><a [routerLink]="['/classroom']" routerLinkActive="router-link-active">&larr;</a> {{lecture.title}}</h1>
    <hr>
    <div class="mt-3">
        <mat-form-field style="width: 80%; margin-right: 10px">
            <mat-label>Search video</mat-label>
            <input matInput type="text" [(ngModel)]="value">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onSearch()">Search</button><br>
        <a><b>Skip Ahead: </b></a>
        <ng-container *ngFor="let time of timestamps">
            <button class="m-1" mat-raised-button color="primary" (click)="updateVideo(time)"> {{time}} seconds</button>
        </ng-container>
    </div>
    <div>
        <iframe width="730" height="400" [src]="videoLink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>