<!-- Side navigation -->
<div class="sidenav" align="center">
    <div class="p-4">
        <img src="assets/img/seanKennedy.jpg" style="width: 90%; border-radius: 50%">
    </div>

    <a><b> {{user.firstName}} {{user.lastName}} </b></a>
    <a> {{user.schoolName}} </a>
    <a> {{user.major}} </a>
    <a> Fall 2021 Semester </a>
    <hr>
    <button mat-stroked-button color="primary" style="width: 100%">Edit Information</button>
    <button mat-raised-button color="primary" style="width: 100%; margin-top: 6px">Register for a New Course</button>


</div>

<!-- Page content -->
<div class="main">

</div>