.navbar {
    -webkit-box-shadow: 0 6px 6px -6px #999;
    -moz-box-shadow: 0 6px 6px -6px #999;
    box-shadow: 0 6px 6px -6px #999;
    left: -10px;
    right: -10px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar a {
    color: white;
    font-weight: 500;
    padding-left: 20px;
}